<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FR_Informatica.Properties.Settings.BD_FRInformaticaConnectionString"
            connectionString="Data Source=DESKTOP-RC8UBSB\SQLEXPRESS;Initial Catalog=BD_FRInformatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>